<section class="blog-section">
    <div class="heading">
     <h3><%- title %></h3>
     <hr>
    </div>
    <div class="blogs">
        <% if(blogs.length > 0) {%>
     <div class="blogs-card">
        <% for(let blog of blogs) {%>
               <article class="card" >
                 <div class="image-box">
                     <img src="<%= blog.BlogId.imageUrl %>" >
                 </div>
                 <div class="details">
                   <span><%= blog.BlogId.category %></span>
                     <h2><%= blog.BlogId.title %></h1>
                     <p>
                        <%= blog.BlogId.description %>
                     </p>   
                 </div>
                 <div class="Delete-edit">
                    <a href="/edit-blog/<%= blog.BlogId._id %>">Edit Blog</a>
                    <a href="/Delete-blog/<%= blog.BlogId._id %>">Delete Blog</a>
                 </div>
             </article>
             <% }%>
       </div>
       <% } else {%>
        <h1>No blogs</h1>
        <% } %>
    </div>
 </section>
 

